In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('clean_mbti.csv')

In [4]:
df2 = pd.read_csv('mbti_1-Copy1.csv')

In [5]:
df1

       label                                           comments
0       INTJ   nowing youre in INTJ is a tool for you to use...
1       INTJ           You are truly an enlightened mastermind
2       INTP    watch a bit of everything including hentai I...
3       INTJ    dont know if I would count this as a pet pee...
4       INTP
...      ...                                                ...
323019  INTP   he internet makes everything easier chat up a...
323020  INFP   but at the same time immense freedom and exci...
323021  INTJ  The great thing about SATW is that she explain...
323022  INFP                                  ine Lets do a dar
323023  ENTJ   Wider humanity in a broad and general way I t...

[323024 rows x 2 columns]

In [6]:
df2

      type                                              posts
0     INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1     ENTP  'I'm finding the lack of me in these posts ver...
2     INTP  'Good one  _____   https://www.youtube.com/wat...
3     INTJ  'Dear INTP,   I enjoyed our conversation the o...
4     ENTJ  'You're fired.|||That's another silly misconce...
...    ...                                                ...
8670  ISFP  'https://www.youtube.com/watch?v=t8edHB_h908||...
8671  ENFP  'So...if this thread already exists someplace ...
8672  INTP  'So many questions when i do these things.  I ...
8673  INFP  'I am very conflicted right now when it comes ...
8674  INFP  'It has been too long since I have been on per...

[8675 rows x 2 columns]

In [8]:
#Renaming columns

df1.rename(columns={"label": "type", "comments": "posts"}, inplace = True)

In [10]:
df3 = pd.concat([df2, df1])

In [11]:
df3

        type                                              posts
0       INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1       ENTP  'I'm finding the lack of me in these posts ver...
2       INTP  'Good one  _____   https://www.youtube.com/wat...
3       INTJ  'Dear INTP,   I enjoyed our conversation the o...
4       ENTJ  'You're fired.|||That's another silly misconce...
...      ...                                                ...
323019  INTP   he internet makes everything easier chat up a...
323020  INFP   but at the same time immense freedom and exci...
323021  INTJ  The great thing about SATW is that she explain...
323022  INFP                                  ine Lets do a dar
323023  ENTJ   Wider humanity in a broad and general way I t...

[331699 rows x 2 columns]

In [12]:
df3.to_csv('merged.csv', index=False)